:root{
    --principal-color: #53d98b;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", serif;
    overflow: auto;
    background-color: black;

    user-select: none;

}

/* Estrellas de fondo */
.stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    background: linear-gradient(to bottom, #284155, #111);
}

.star {
    position: absolute;
    background: white;
    box-shadow: 0px 0px 4px white;
    border-radius: 50%;
    opacity: 0.8;
    animation: stars 10s infinite linear;

}

@keyframes stars {
    0% { 
        opacity: 0.5;
        transform: translate(0, 0); 
    }
    100% 
    { 
        opacity: 1;
        transform: translate(70px, 70px);
    }
}

/* Estilos del contenido */
.content {
    position: relative;
    color: white;
    text-align: center;
    z-index: 1;
}

h1 {
    margin-top: 20px;
    font-size: 2.5em;
    background: linear-gradient(to top, var(--principal-color), #00ff95);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
h2 {
    background: linear-gradient(to top, var(--principal-color), #00ff95);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 10px;
}
.perfil img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border: 3px solid var(--principal-color);
}
.proyectos {
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    justify-content: center;
}
.proyecto {
    background: #141414;
    border: 2px solid var(--principal-color);
    border-radius: 8px;
    outline: 6px solid #141414;
    margin: 10px;
    padding: 15px;
    width: 280px;
    transition: transform 0.3s, box-shadow 0.3s;

    position: relative;
    overflow: hidden;
    z-index: 10;
}
.proyecto span{
    z-index: 20;
}
.proyecto::after{
    content: "";
    position: absolute;
    background: linear-gradient(to top, var(--principal-color), #53d9afc1 );
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    z-index: -1;
}
.proyecto:hover span a{
    color: #111;
    font-weight: bolder;
}
.proyecto:hover::after{
    height: 100%;
    transition: 0.4s;
}
.proyecto a{
    color: var(--principal-color);
    text-decoration: none;
}
.redes {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    filter: hue-rotate(-15deg) saturate(1.1);
}
.redes img {
    width: 40px;
    margin: 0 10px;
    transition: transform 0.3s;
}
.redes img:hover {
    transform: scale(1.1);
}
